AWS_ACCESS_KEY_ID=replace-me
AWS_SECRET_ACCESS_KEY=replace-me
AWS_REGION=us-east-1
AWS_S3_BUCKET_NAME=your-bucket-name
DB_URL=jdbc:postgresql://localhost:5432/file_storage
DB_USERNAME=postgres
DB_PASSWORD=postgres
MAX_FILE_SIZE=50MB
MAX_REQUEST_SIZE=50MB
MAX_FILE_SIZE_BYTES=52428800
